@{
  Layout = "_Layout";
}

<h1>Welcome to the Univeristy Registrar!</h1>
@* <p>@Html.ActionLink("See all items", "Index", "Items")</p>
<p>@Html.ActionLink("See all categories", "Index", "Categories")</p> *@