@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Department

<h4>Add a new Department</h4>

@using (Html.BeginForm())
{
  <li>
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
</li>

  <input type="submit" value="Add new Department" class="btn btn-success" />
}
<p>@Html.ActionLink("Show all Departments", "Index")</p>