@{
  Layout = "_Layout";
}

@using UniversityRegistrar.Models;

<h1>Departments</h1>

@if (@Model.Count == 0)
{
  <h3> No Departments have been added yet!</h3>
}

@foreach (Department department in Model)
{
  <li>@Html.ActionLink($"{department.Name}", "Details", new {id = department.DepartmentId}) ~
</li>
}

</br>
<li>@Html.ActionLink("Add new Department", "Create")</li>
<li>@Html.ActionLink("Go Back Home", "Index", "Home")</li>
